//
// MeasurementsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import PromiseKit

extension SwaggerClientAPI {
    
    public class MeasurementsAPI: APIBase {
    
        /**
         
         Get measurement sources
         
         - GET /measurementSources
         - Returns a list of all the apps from which measurement data is obtained.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "name" : "aeiou"
}}]

         :returns: Promise<Response<MeasurementSource>> 
         */
        public class func measurementSourcesGet() -> RequestBuilder<MeasurementSource> {
            let path = "/measurementSources"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<MeasurementSource>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Add a data source
         
         - POST /measurementSources
         - Add a life-tracking app or device to the QuantiModo list of data sources.
         - OAuth:
           - type: oauth2
           - name: oauth2
         
         :param: name (body) An array of names of data sources you want to add.

         :returns: Promise<Response<Void>> 
         */
        public class func measurementSourcesPost(#name: MeasurementSource) -> RequestBuilder<Void> {
            let path = "/measurementSources"
            let URLString = SwaggerClientAPI.basePath + path
            
            let parameters = name.encodeToJSON() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get measurements for this user
         
         - GET /measurements
         - Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten. <br>Supported filter parameters:<br><ul><li><b>value</b> - Value of measurement</li><li><b>lastUpdated</b> - The time that this measurement was created or last updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li></ul><br>
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "unit" : "aeiou",
  "storedValue" : 1.3579000000000001069366817318950779736042022705078125,
  "storedAbbreviatedUnitName" : "aeiou",
  "variable" : "aeiou",
  "source" : "aeiou",
  "value" : 1.3579000000000001069366817318950779736042022705078125,
  "timestamp" : 123456789
}}]
         
         :param: variableName (query) Name of the variable you want measurements for
         :param: unit (query) The unit your want the measurements in
         :param: startTime (query) The lower limit of measurements returned (Epoch)
         :param: endTime (query) The upper limit of measurements returned (Epoch)
         :param: groupingWidth (query) The time (in seconds) over which measurements are grouped together
         :param: groupingTimezone (query) The time (in seconds) over which measurements are grouped together
         :param: limit (query) The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
         :param: offset (query) Now suppose you wanted to show results 11-20. You&#39;d set the offset to 10 and the limit to 10.
         :param: sort (query) Sort by given field. If the field is prefixed with `-, it will sort in descending order.

         :returns: Promise<Response<Measurement>> 
         */
        public class func measurementsGet(#variableName: String, unit: String?, startTime: String?, endTime: String?, groupingWidth: Int?, groupingTimezone: String?, limit: Int?, offset: Int?, sort: Int?) -> RequestBuilder<Measurement> {
            let path = "/measurements"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "variableName": variableName,
                "unit": unit,
                "startTime": startTime,
                "endTime": endTime,
                "groupingWidth": groupingWidth,
                "groupingTimezone": groupingTimezone,
                "limit": limit,
                "offset": offset,
                "sort": sort
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Measurement>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Post a new set or update existing measurements to the database
         
         - POST /measurements/v2
         - You can submit or update multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\"measurements\":[{\"timestamp\":1406419860,\"value\":\"1\",\"note\":\"I am a note about back pain.\"},{\"timestamp\":1406519865,\"value\":\"3\",\"note\":\"I am another note about back pain.\"}],\"name\":\"Back Pain\",\"source\":\"QuantiModo\",\"category\":\"Symptoms\",\"combinationOperation\":\"MEAN\",\"unit\":\"/5\"}]
         - OAuth:
           - type: oauth2
           - name: oauth2
         
         :param: measurements (body) An array of measurements you want to insert.

         :returns: Promise<Response<Void>> 
         */
        public class func measurementsV2Post(#measurements: MeasurementSet) -> RequestBuilder<Void> {
            let path = "/measurements/v2"
            let URLString = SwaggerClientAPI.basePath + path
            
            let parameters = measurements.encodeToJSON() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get measurements range for this user
         
         - GET /measurementsRange
         - Get Unix time-stamp (epoch time) of the user's first and last measurements taken.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "upperLimit" : "",
  "lowerLimit" : ""
}}]
         
         :param: sources (query) Enter source name to limit to specific source (varchar)
         :param: user (query) If not specified, uses currently logged in user (bigint)

         :returns: Promise<Response<MeasurementRange>> 
         */
        public class func measurementsRangeGet(#sources: String?, user: Int?) -> RequestBuilder<MeasurementRange> {
            let path = "/measurementsRange"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "sources": sources,
                "user": user
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<MeasurementRange>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
        }
    
    }
}
