//
// VariablesAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import PromiseKit

extension SwaggerClientAPI {
    
    public class VariablesAPI: APIBase {
    
        /**
         
         Store or Update a Correlation
         
         - POST /correlations
         - Store or Update a Correlation
         - OAuth:
           - type: oauth2
           - name: oauth2
         
         :param: cause (query) 
         :param: effect (query) 
         :param: correlationcoefficient (query) 
         :param: vote (query) 

         :returns: Promise<Response<Void>> 
         */
        public class func correlationsPost(#cause: String, effect: String, correlationcoefficient: String, vote: String) -> RequestBuilder<Void> {
            let path = "/correlations"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "cause": cause,
                "effect": effect,
                "correlationcoefficient": correlationcoefficient,
                "vote": vote
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Get public variables
         
         - GET /public/variables
         - This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "parent" : "",
  "causeOnly" : "",
  "lastValue" : "",
  "sources" : "aeiou",
  "latestMeasurementTime" : "",
  "lastSource" : "",
  "numberOfCorrelations" : "",
  "earliestMeasurementTime" : "",
  "originalName" : "aeiou",
  "minimumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "measurementsAtLastAnalysis" : "",
  "fillingValue" : 1.3579000000000001069366817318950779736042022705078125,
  "combinationOperation" : "aeiou",
  "mostCommonValue" : "",
  "id" : "",
  "outcome" : "",
  "subVariables" : [ "" ],
  "joinWith" : "aeiou",
  "durationOfAction" : "",
  "joinedVariables" : [ "" ],
  "mostCommonUnit" : "",
  "unit" : "aeiou",
  "name" : "aeiou",
  "lastUnit" : "",
  "category" : "aeiou",
  "onsetDelay" : "",
  "maximumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "updated" : "",
  "numberOfMeasurements" : ""
}}]

         :returns: Promise<Response<Variable>> 
         */
        public class func publicVariablesGet() -> RequestBuilder<Variable> {
            let path = "/public/variables"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Variable>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get top 5 PUBLIC variables with the most correlations
         
         - GET /public/variables/search/{search}
         - Get top 5 PUBLIC variables with the most correlations containing the entered search characters. For example, search for 'mood' as an effect. Since 'Overall Mood' has a lot of correlations with other variables, it should be in the autocomplete list.<br>Supported filter parameters:<br><ul><li><b>category</b> - Category of Variable</li></ul><br>
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "parent" : "",
  "causeOnly" : "",
  "lastValue" : "",
  "sources" : "aeiou",
  "latestMeasurementTime" : "",
  "lastSource" : "",
  "numberOfCorrelations" : "",
  "earliestMeasurementTime" : "",
  "originalName" : "aeiou",
  "minimumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "measurementsAtLastAnalysis" : "",
  "fillingValue" : 1.3579000000000001069366817318950779736042022705078125,
  "combinationOperation" : "aeiou",
  "mostCommonValue" : "",
  "id" : "",
  "outcome" : "",
  "subVariables" : [ "" ],
  "joinWith" : "aeiou",
  "durationOfAction" : "",
  "joinedVariables" : [ "" ],
  "mostCommonUnit" : "",
  "unit" : "aeiou",
  "name" : "aeiou",
  "lastUnit" : "",
  "category" : "aeiou",
  "onsetDelay" : "",
  "maximumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "updated" : "",
  "numberOfMeasurements" : ""
}}]
         
         :param: search (path) Search query can be some fraction of a variable name.
         :param: effectOrCause (query) Allows us to specify which column in the `correlations` table will be searched. Choices are effect or cause.
         :param: limit (query) The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
         :param: offset (query) Now suppose you wanted to show results 11-20. You&#39;d set the offset to 10 and the limit to 10.
         :param: sort (query) Sort by given field. If the field is prefixed with `-, it will sort in descending order.

         :returns: Promise<Response<Variable>> 
         */
        public class func publicVariablesSearchSearchGet(#search: String, effectOrCause: String?, limit: Int?, offset: Int?, sort: Int?) -> RequestBuilder<Variable> {
            var path = "/public/variables/search/{search}"
            path = path.stringByReplacingOccurrencesOfString("{search}", withString: "\(search)", options: .LiteralSearch, range: nil)
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "effectOrCause": effectOrCause,
                "limit": limit,
                "offset": offset,
                "sort": sort
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Variable>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Update User Settings for a Variable
         
         - POST /v1/userVariables
         - Users can change things like the display name for a variable. They can also change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.
         - OAuth:
           - type: oauth2
           - name: oauth2
         
         :param: sharingData (body) Variable user settings data

         :returns: Promise<Response<Void>> 
         */
        public class func v1UserVariablesPost(#sharingData: UserVariables) -> RequestBuilder<Void> {
            let path = "/v1/userVariables"
            let URLString = SwaggerClientAPI.basePath + path
            
            let parameters = sharingData.encodeToJSON() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Variable categories
         
         - GET /variableCategories
         - The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example=[ {
  "name" : "aeiou"
} ]}]

         :returns: Promise<Response<[VariableCategory]>> 
         */
        public class func variableCategoriesGet() -> RequestBuilder<[VariableCategory]> {
            let path = "/variableCategories"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<[VariableCategory]>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get variables by the category name
         
         - GET /variables
         - Get variables by the category name. <br>Supported filter parameters:<br><ul><li><b>name</b> - Original name of the variable (supports exact name match only)</li><li><b>lastUpdated</b> - Filter by the last time any of the properties of the variable were changed. Uses UTC format \"YYYY-MM-DDThh:mm:ss\"</li><li><b>source</b> - The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here</li><li><b>latestMeasurementTime</b> - Filter variables based on the last time a measurement for them was created or updated in the UTC format \"YYYY-MM-DDThh:mm:ss\"</li><li><b>numberOfMeasurements</b> - Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.</li><li><b>lastSource</b> - Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)</li></ul><br>
         - BASIC:
           - type: basic
           - name: basicAuth
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "parent" : "",
  "causeOnly" : "",
  "lastValue" : "",
  "sources" : "aeiou",
  "latestMeasurementTime" : "",
  "lastSource" : "",
  "numberOfCorrelations" : "",
  "earliestMeasurementTime" : "",
  "originalName" : "aeiou",
  "minimumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "measurementsAtLastAnalysis" : "",
  "fillingValue" : 1.3579000000000001069366817318950779736042022705078125,
  "combinationOperation" : "aeiou",
  "mostCommonValue" : "",
  "id" : "",
  "outcome" : "",
  "subVariables" : [ "" ],
  "joinWith" : "aeiou",
  "durationOfAction" : "",
  "joinedVariables" : [ "" ],
  "mostCommonUnit" : "",
  "unit" : "aeiou",
  "name" : "aeiou",
  "lastUnit" : "",
  "category" : "aeiou",
  "onsetDelay" : "",
  "maximumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "updated" : "",
  "numberOfMeasurements" : ""
}}]
         
         :param: userId (query) User id
         :param: category (query) Filter data by category
         :param: limit (query) The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
         :param: offset (query) Now suppose you wanted to show results 11-20. You&#39;d set the offset to 10 and the limit to 10.
         :param: sort (query) Sort by given field. If the field is prefixed with `-, it will sort in descending order.

         :returns: Promise<Response<Variable>> 
         */
        public class func variablesGet(#userId: Int?, category: String?, limit: Int?, offset: Int?, sort: Int?) -> RequestBuilder<Variable> {
            let path = "/variables"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "userId": userId,
                "category": category,
                "limit": limit,
                "offset": offset,
                "sort": sort
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Variable>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Create Variables
         
         - POST /variables
         - Allows the client to create a new variable in the `variables` table.
         - OAuth:
           - type: oauth2
           - name: oauth2
         
         :param: variableName (body) Original name for the variable.

         :returns: Promise<Response<Void>> 
         */
        public class func variablesPost(#variableName: VariablesNew) -> RequestBuilder<Void> {
            let path = "/variables"
            let URLString = SwaggerClientAPI.basePath + path
            
            let parameters = variableName.encodeToJSON() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get variables by search query
         
         - GET /variables/search/{search}
         - Get variables containing the search characters for which the currently logged in user has measurements. Used to provide auto-complete function in variable search boxes.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example=[ {
  "parent" : "",
  "causeOnly" : "",
  "lastValue" : "",
  "sources" : "aeiou",
  "latestMeasurementTime" : "",
  "lastSource" : "",
  "numberOfCorrelations" : "",
  "earliestMeasurementTime" : "",
  "originalName" : "aeiou",
  "minimumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "measurementsAtLastAnalysis" : "",
  "fillingValue" : 1.3579000000000001069366817318950779736042022705078125,
  "combinationOperation" : "aeiou",
  "mostCommonValue" : "",
  "id" : "",
  "outcome" : "",
  "subVariables" : [ "" ],
  "joinWith" : "aeiou",
  "durationOfAction" : "",
  "joinedVariables" : [ "" ],
  "mostCommonUnit" : "",
  "unit" : "aeiou",
  "name" : "aeiou",
  "lastUnit" : "",
  "category" : "aeiou",
  "onsetDelay" : "",
  "maximumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "updated" : "",
  "numberOfMeasurements" : ""
} ]}]
         
         :param: search (path) Search query which may be an entire variable name or a fragment of one.
         :param: categoryName (query) Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
         :param: source (query) Specify a data source name to only return variables from a specific data source.
         :param: limit (query) The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
         :param: offset (query) Now suppose you wanted to show results 11-20. You&#39;d set the offset to 10 and the limit to 10.

         :returns: Promise<Response<[Variable]>> 
         */
        public class func variablesSearchSearchGet(#search: String, categoryName: String?, source: String?, limit: Int?, offset: Int?) -> RequestBuilder<[Variable]> {
            var path = "/variables/search/{search}"
            path = path.stringByReplacingOccurrencesOfString("{search}", withString: "\(search)", options: .LiteralSearch, range: nil)
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "categoryName": categoryName,
                "source": source,
                "limit": limit,
                "offset": offset
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<[Variable]>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Get info about a variable
         
         - GET /variables/{variableName}
         - Get all of the settings and information about a variable by its name. If the logged in user has modified the settings for the variable, these will be provided instead of the default settings for that variable.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "parent" : "",
  "causeOnly" : "",
  "lastValue" : "",
  "sources" : "aeiou",
  "latestMeasurementTime" : "",
  "lastSource" : "",
  "numberOfCorrelations" : "",
  "earliestMeasurementTime" : "",
  "originalName" : "aeiou",
  "minimumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "measurementsAtLastAnalysis" : "",
  "fillingValue" : 1.3579000000000001069366817318950779736042022705078125,
  "combinationOperation" : "aeiou",
  "mostCommonValue" : "",
  "id" : "",
  "outcome" : "",
  "subVariables" : [ "" ],
  "joinWith" : "aeiou",
  "durationOfAction" : "",
  "joinedVariables" : [ "" ],
  "mostCommonUnit" : "",
  "unit" : "aeiou",
  "name" : "aeiou",
  "lastUnit" : "",
  "category" : "aeiou",
  "onsetDelay" : "",
  "maximumValue" : 1.3579000000000001069366817318950779736042022705078125,
  "updated" : "",
  "numberOfMeasurements" : ""
}}]
         
         :param: variableName (path) Variable name

         :returns: Promise<Response<Variable>> 
         */
        public class func variablesVariableNameGet(#variableName: String) -> RequestBuilder<Variable> {
            var path = "/variables/{variableName}"
            path = path.stringByReplacingOccurrencesOfString("{variableName}", withString: "\(variableName)", options: .LiteralSearch, range: nil)
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Variable>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: URLString, parameters: parameters, isBody: true)
        }
    
    }
}
