//
// VotesAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import PromiseKit

extension SwaggerClientAPI {
    
    public class VotesAPI: APIBase {
    
        /**
         
         Post or update vote
         
         - POST /v1/votes
         - This is to enable users to indicate their opinion on the plausibility of a causal relationship between a treatment and outcome. QuantiModo incorporates crowd-sourced plausibility estimations into their algorithm. This is done allowing user to indicate their view of the plausibility of each relationship with thumbs up/down buttons placed next to each prediction.
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "success" : true,
  "message" : "aeiou",
  "status" : ""
}}]
         
         :param: cause (query) Cause variable name
         :param: effect (query) Effect variable name
         :param: vote (query) Vote: 0 (for implausible) or 1 (for plausible)

         :returns: Promise<Response<CommonResponse>> 
         */
        public class func v1VotesPost(#cause: String, effect: String, vote: Bool?) -> RequestBuilder<CommonResponse> {
            let path = "/v1/votes"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "cause": cause,
                "effect": effect,
                "vote": vote
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<CommonResponse>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: false)
        }
    
        /**
         
         Delete vote
         
         - POST /v1/votes/delete
         - Delete previously posted vote
         - OAuth:
           - type: oauth2
           - name: oauth2
         - examples: [{contentType=application/json, example={
  "success" : true,
  "message" : "aeiou",
  "status" : ""
}}]
         
         :param: cause (query) Cause variable name
         :param: effect (query) Effect variable name

         :returns: Promise<Response<CommonResponse>> 
         */
        public class func v1VotesDeletePost(#cause: String, effect: String) -> RequestBuilder<CommonResponse> {
            let path = "/v1/votes/delete"
            let URLString = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "cause": cause,
                "effect": effect
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<CommonResponse>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: URLString, parameters: parameters, isBody: false)
        }
    
    }
}
