/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.User
import io.swagger.client.model.UserTokenFailedResponse
import io.swagger.client.model.UserTokenRequest
import io.swagger.client.model.UserTokenSuccessfulResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object UserApi {

  /**
   * Get user tokens for existing users, create new users
   * 
   * Expected answers:
   *   code 200 : UserTokenSuccessfulResponse (User has been found, token was returned)
   *   code 201 : UserTokenSuccessfulResponse (User has been created, token was returned)
   *   code 400 : UserTokenFailedResponse (Bad data)
   *   code 403 : UserTokenFailedResponse (Forbidden)
   * 
   * @param organizationId Organization ID
   * @param body Provides organization token and user ID
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   */
  def v1OrganizationsOrganizationIdUsersPost(organizationId: Int, body: UserTokenRequest, accessToken: Option[String] = None, userId: Option[Int] = None): ApiRequest[UserTokenSuccessfulResponse] =
    ApiRequest[UserTokenSuccessfulResponse](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/organizations/{organizationId}/users", "application/json")
      .withBody(body)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withPathParam("organizationId", organizationId)
      .withSuccessResponse[UserTokenSuccessfulResponse](200)
      .withErrorResponse[UserTokenSuccessfulResponse](201)
      .withErrorResponse[UserTokenFailedResponse](400)
      .withErrorResponse[UserTokenFailedResponse](403)
        /**
   * Returns user info for the currently authenticated user.
   * 
   * Expected answers:
   *   code 200 : User (Successful operation)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   */
  def v1UserMeGet()(implicit apiKey: ApiKeyValue): ApiRequest[User] =
    ApiRequest[User](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/user/me", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withSuccessResponse[User](200)
      .withErrorResponse[Unit](401)
      

}

