/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.UserVariableDelete
import io.swagger.client.model.UserVariables
import io.swagger.client.model.Variable
import io.swagger.client.model.VariableCategory
import io.swagger.client.model.VariablesNew
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object VariablesApi {

  /**
   * This endpoint retrieves an array of all public variables. Public variables are things like foods, medications, symptoms, conditions, and anything not unique to a particular user. For instance, a telephone number or name would not be a public variable.
   * 
   * Expected answers:
   *   code 200 : Variable (Successful operation)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   * @param id Common variable id
   * @param category Filter data by category
   * @param name Original name of the variable (supports exact name match only)
   * @param updatedAt Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
   * @param source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
   * @param latestMeasurementTime Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
   * @param numberOfRawMeasurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
   * @param lastSource Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
   * @param offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
   * @param sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
   */
  def v1PublicVariablesGet(accessToken: Option[String] = None, userId: Option[Int] = None, id: Option[Int] = None, category: Option[String] = None, name: Option[String] = None, updatedAt: Option[String] = None, source: Option[String] = None, latestMeasurementTime: Option[String] = None, numberOfRawMeasurements: Option[String] = None, lastSource: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Variable] =
    ApiRequest[Variable](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/public/variables", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withQueryParam("id", id)
      .withQueryParam("category", category)
      .withQueryParam("name", name)
      .withQueryParam("updatedAt", updatedAt)
      .withQueryParam("source", source)
      .withQueryParam("latestMeasurementTime", latestMeasurementTime)
      .withQueryParam("numberOfRawMeasurements", numberOfRawMeasurements)
      .withQueryParam("lastSource", lastSource)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Variable](200)
      .withErrorResponse[Unit](401)
        /**
   * Get top 5 PUBLIC variables with the most correlations containing the entered search characters. For example, search for &#39;mood&#39; as an effect. Since &#39;Overall Mood&#39; has a lot of correlations with other variables, it should be in the autocomplete list.Supported filter parameters:&lt;ul&gt;&lt;li&gt;&lt;b&gt;category&lt;/b&gt; - Category of Variable&lt;/li&gt;&lt;/ul&gt;
   * 
   * Expected answers:
   *   code 200 : Variable (Variables returned)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param search Search query can be some fraction of a variable name.
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   * @param variableCategoryName Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
   * @param source Specify a data source name to only return variables from a specific data source.
   * @param effectOrCause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
   * @param publicEffectOrCause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
   * @param offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
   * @param sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
   */
  def v1PublicVariablesSearchSearchGet(search: String, accessToken: Option[String] = None, userId: Option[Int] = None, variableCategoryName: Option[String] = None, source: Option[String] = None, effectOrCause: Option[String] = None, publicEffectOrCause: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Variable] =
    ApiRequest[Variable](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/public/variables/search/{search}", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withQueryParam("variableCategoryName", variableCategoryName)
      .withQueryParam("source", source)
      .withQueryParam("effectOrCause", effectOrCause)
      .withQueryParam("publicEffectOrCause", publicEffectOrCause)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withPathParam("search", search)
      .withSuccessResponse[Variable](200)
      .withErrorResponse[Unit](401)
        /**
   * Users can delete all of their measurements for a variable
   * 
   * Expected answers:
   *   code 200 :  (Successful operation)
   *   code 400 :  (The received JSON was invalid or malformed)
   *   code 401 :  (Not Authenticated)
   *   code 404 :  (Unknown target user ID)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param variableId Id of the variable whose measurements should be deleted
   */
  def v1UserVariablesDeletePost(variableId: UserVariableDelete)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/userVariables/delete", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withBody(variableId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Users can change the parameters used in analysis of that variable such as the expected duration of action for a variable to have an effect, the estimated delay before the onset of action. In order to filter out erroneous data, they are able to set the maximum and minimum reasonable daily values for a variable.
   * 
   * Expected answers:
   *   code 200 :  (Successful operation)
   *   code 400 :  (The received JSON was invalid or malformed)
   *   code 401 :  (Not Authenticated)
   *   code 404 :  (Unknown target user ID)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param userVariables Variable user settings data
   */
  def v1UserVariablesPost(userVariables: UserVariables)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/userVariables", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withBody(userVariables)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * Reset user settings for a variable to defaults
   * 
   * Expected answers:
   *   code 201 :  (Successful operation)
   *   code 400 :  (The received JSON was invalid or malformed)
   *   code 401 :  (Not Authenticated)
   *   code 404 :  (Unknown target user ID)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param variableId Id of the variable that should be reset
   */
  def v1UserVariablesResetPost(variableId: UserVariableDelete)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/userVariables/reset", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withBody(variableId)
      .withSuccessResponse[Unit](201)
      .withErrorResponse[Unit](400)
      .withErrorResponse[Unit](401)
      .withErrorResponse[Unit](404)
        /**
   * The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
   * 
   * Expected answers:
   *   code 200 : Seq[VariableCategory] (Successful operation)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   */
  def v1VariableCategoriesGet()(implicit apiKey: ApiKeyValue): ApiRequest[Seq[VariableCategory]] =
    ApiRequest[Seq[VariableCategory]](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/variableCategories", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withSuccessResponse[Seq[VariableCategory]](200)
      .withErrorResponse[Unit](401)
        /**
   * Get variables for which the user has measurements. If the user has specified variable settings, these are provided instead of the common variable defaults.
   * 
   * Expected answers:
   *   code 200 : Variable (Variables returned)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   * @param id Common variable id
   * @param category Filter data by category
   * @param name Original name of the variable (supports exact name match only)
   * @param updatedAt Filter by the last time any of the properties of the variable were changed. Uses UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
   * @param source The name of the data source that created the variable (supports exact name match only). So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here
   * @param latestMeasurementTime Filter variables based on the last time a measurement for them was created or updated in the UTC format \&quot;YYYY-MM-DDThh:mm:ss\&quot;
   * @param numberOfRawMeasurements Filter variables by the total number of measurements that they have. This could be used of you want to filter or sort by popularity.
   * @param lastSource Limit variables to those which measurements were last submitted by a specific source. So if you have a client application and you only want variables that were last updated by your app, you can include the name of your app here. (supports exact name match only)
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
   * @param offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
   * @param sort Sort by given field. If the field is prefixed with &#x60;-, it will sort in descending order.
   */
  def v1VariablesGet(accessToken: Option[String] = None, userId: Option[Int] = None, id: Option[Int] = None, category: Option[String] = None, name: Option[String] = None, updatedAt: Option[String] = None, source: Option[String] = None, latestMeasurementTime: Option[String] = None, numberOfRawMeasurements: Option[String] = None, lastSource: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None, sort: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Variable] =
    ApiRequest[Variable](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/variables", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withQueryParam("id", id)
      .withQueryParam("category", category)
      .withQueryParam("name", name)
      .withQueryParam("updatedAt", updatedAt)
      .withQueryParam("source", source)
      .withQueryParam("latestMeasurementTime", latestMeasurementTime)
      .withQueryParam("numberOfRawMeasurements", numberOfRawMeasurements)
      .withQueryParam("lastSource", lastSource)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withQueryParam("sort", sort)
      .withSuccessResponse[Variable](200)
      .withErrorResponse[Unit](401)
        /**
   * Allows the client to create a new variable in the &#x60;variables&#x60; table.
   * 
   * Expected answers:
   *   code 200 :  (Successful operation)
   *   code 201 :  (Variable created)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param body Original name for the variable.
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   */
  def v1VariablesPost(body: VariablesNew, accessToken: Option[String] = None, userId: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, "https://app.quantimo.do/api", "/v1/variables", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withBody(body)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[Unit](201)
      .withErrorResponse[Unit](401)
        /**
   * Get variables containing the search characters for which the currently logged in user has measurements. Used to provide auto-complete function in variable search boxes.
   * 
   * Expected answers:
   *   code 200 : Seq[Variable] (Successful operation)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param search Search query which may be an entire variable name or a fragment of one.
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   * @param variableCategoryName Filter variables by category name. The variable categories include Activity, Causes of Illness, Cognitive Performance, Conditions, Environment, Foods, Location, Miscellaneous, Mood, Nutrition, Physical Activity, Physique, Sleep, Social Interactions, Symptoms, Treatments, Vital Signs, and Work.
   * @param includePublic Set to true if you would like to include public variables when no user variables are found.
   * @param manualTracking Set to true if you would like to exlude variables like apps and website names.
   * @param source Specify a data source name to only return variables from a specific data source.
   * @param effectOrCause Indicate if you only want variables that have user correlations. Possible values are effect and cause.
   * @param publicEffectOrCause Indicate if you only want variables that have aggregated correlations.  Possible values are effect and cause.
   * @param limit The LIMIT is used to limit the number of results returned. So if you have 1000 results, but only want to the first 10, you would set this to 10 and offset to 0.
   * @param offset Since the maximum limit is 200 records, to get more than that you&#39;ll have to make multiple API calls and page through the results. To retrieve all the data, you can iterate through data by using the &#x60;limit&#x60; and &#x60;offset&#x60; query parameters.  For example, if you want to retrieve data from 61-80 then you can use a query with the following parameters, &#x60;imit&#x3D;20&amp;offset&#x3D;60&#x60;.
   */
  def v1VariablesSearchSearchGet(search: String, accessToken: Option[String] = None, userId: Option[Int] = None, variableCategoryName: Option[String] = None, includePublic: Option[Boolean] = None, manualTracking: Option[Boolean] = None, source: Option[String] = None, effectOrCause: Option[String] = None, publicEffectOrCause: Option[String] = None, limit: Option[Int] = None, offset: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Seq[Variable]] =
    ApiRequest[Seq[Variable]](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/variables/search/{search}", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withQueryParam("variableCategoryName", variableCategoryName)
      .withQueryParam("includePublic", includePublic)
      .withQueryParam("manualTracking", manualTracking)
      .withQueryParam("source", source)
      .withQueryParam("effectOrCause", effectOrCause)
      .withQueryParam("publicEffectOrCause", publicEffectOrCause)
      .withQueryParam("limit", limit)
      .withQueryParam("offset", offset)
      .withPathParam("search", search)
      .withSuccessResponse[Seq[Variable]](200)
      .withErrorResponse[Unit](401)
        /**
   * Get all of the settings and information about a variable by its name. If the logged in user has modified the settings for the variable, these will be provided instead of the default settings for that variable.
   * 
   * Expected answers:
   *   code 200 : Variable (Variables returned)
   *   code 401 :  (Not Authenticated)
   * 
   * Available security schemes:
   *   access_token (apiKey)
   * 
   * @param variableName Variable name
   * @param accessToken User&#39;s OAuth2 access token
   * @param userId User&#39;s id
   */
  def v1VariablesVariableNameGet(variableName: String, accessToken: Option[String] = None, userId: Option[Int] = None)(implicit apiKey: ApiKeyValue): ApiRequest[Variable] =
    ApiRequest[Variable](ApiMethods.GET, "https://app.quantimo.do/api", "/v1/variables/{variableName}", "application/json")
      .withApiKey(apiKey, "access_token", QUERY)
      .withQueryParam("access_token", accessToken)
      .withQueryParam("userId", userId)
      .withPathParam("variableName", variableName)
      .withSuccessResponse[Variable](200)
      .withErrorResponse[Unit](401)
      

}

