//
// ConnectorsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import PromiseKit

extension SwaggerClientAPI {
    
    class ConnectorsAPI: APIBase {
    
        /**
         
         List of Connectors
         
         - GET /connectors/list
         - Returns a list of all available connectors. A connector pulls data from other data providers using their API or a screenscraper.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@2124d449]
         - examples: [{contentType=application/json, example=[ {
  "connected" : "aeiou",
  "image" : "aeiou",
  "getItUrl" : "aeiou",
  "noDataYet" : true,
  "displayName" : "aeiou",
  "latestData" : 123,
  "lastUpdate" : 123,
  "name" : "aeiou",
  "id" : 123,
  "connectInstructions" : "aeiou"
} ]}]

         :returns: Promise<Response<[Connector]>> 
         */
        func connectorsListGet() -> RequestBuilder<[Connector]> {
            let path = "/connectors/list"
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<[Connector]>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Obtain a token from 3rd party data source
         
         - GET /connectors/{connector}/connect
         - Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@7490c7e6]
         
         :param: connector (path) Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.

         :returns: Promise<Response<Void>> 
         */
        func connectorsConnectorConnectGet(#connector: String) -> RequestBuilder<Void> {
            var path = "/connectors/{connector}/connect"
            path = path.stringByReplacingOccurrencesOfString("{connector}", withString: "\(connector)", options: .LiteralSearch, range: nil)
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get connection parameters
         
         - GET /connectors/{connector}/connectInstructions
         - Returns instructions that describe what parameters and endpoint to use to connect to the given data provider.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@83cc3d8]
         
         :param: connector (path) Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.

         :returns: Promise<Response<Void>> 
         */
        func connectorsConnectorConnectInstructionsGet(#connector: String) -> RequestBuilder<Void> {
            var path = "/connectors/{connector}/connectInstructions"
            path = path.stringByReplacingOccurrencesOfString("{connector}", withString: "\(connector)", options: .LiteralSearch, range: nil)
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Delete stored connection info
         
         - GET /connectors/{connector}/disconnect
         - The disconnect method deletes any stored tokens or connection information from the connectors database.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@31b722a7]
         
         :param: connector (path) Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.

         :returns: Promise<Response<Void>> 
         */
        func connectorsConnectorDisconnectGet(#connector: String) -> RequestBuilder<Void> {
            var path = "/connectors/{connector}/disconnect"
            path = path.stringByReplacingOccurrencesOfString("{connector}", withString: "\(connector)", options: .LiteralSearch, range: nil)
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get connector info for user
         
         - GET /connectors/{connector}/info
         - Returns information about the connector such as the connector id, whether or not is connected for this user (i.e. we have a token or credentials), and its update history for the user.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@36b63e44]
         
         :param: connector (path) Lowercase system name of the source application or device. Get a list of available connectors from the /connectors/list endpoint.

         :returns: Promise<Response<Void>> 
         */
        func connectorsConnectorInfoGet(#connector: String) -> RequestBuilder<Void> {
            var path = "/connectors/{connector}/info"
            path = path.stringByReplacingOccurrencesOfString("{connector}", withString: "\(connector)", options: .LiteralSearch, range: nil)
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Sync with data source
         
         - GET /connectors/{connector}/update
         - The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@44eb7083]
         
         :param: connector (path) Lowercase system name of the source application or device

         :returns: Promise<Response<Void>> 
         */
        func connectorsConnectorUpdateGet(#connector: String) -> RequestBuilder<Void> {
            var path = "/connectors/{connector}/update"
            path = path.stringByReplacingOccurrencesOfString("{connector}", withString: "\(connector)", options: .LiteralSearch, range: nil)
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
    }
}
