//
// MeasurementsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Alamofire
import PromiseKit

extension SwaggerClientAPI {
    
    class MeasurementsAPI: APIBase {
    
        /**
         
         Get measurement sources
         
         - GET /measurementSources
         - Returns a list of all the apps from which measurement data is obtained.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@2f5885c0]

         :returns: Promise<Response<Void>> 
         */
        func measurementSourcesGet() -> RequestBuilder<Void> {
            let path = "/measurementSources"
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [:]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Add a data source
         
         - POST /measurementSources
         - Add a life-tracking app or device to the QuantiModo list of data sources.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@6df84757]
         
         :param: name (body) An array of names of data sources you want to add.

         :returns: Promise<Response<Void>> 
         */
        func measurementSourcesPost(#name: [MeasurementSource]) -> RequestBuilder<Void> {
            let path = "/measurementSources"
            let url = SwaggerClientAPI.basePath + path
            
            let parameters = name.encode() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get measurements for this user
         
         - GET /measurements
         - Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@1d373e10]
         
         :param: variableName (query) Name of the variable you want measurements for
         :param: unit (query) The unit your want the measurements in
         :param: startTime (query) The lower limit of measurements returned (Epoch)
         :param: endTime (query) The upper limit of measurements returned (Epoch)
         :param: groupingWidth (query) The time (in seconds) over which measurements are grouped together
         :param: groupingTimezone (query) The time (in seconds) over which measurements are grouped together

         :returns: Promise<Response<Void>> 
         */
        func measurementsGet(#variableName: String, unit: String?, startTime: String?, endTime: String?, groupingWidth: Int?, groupingTimezone: String?) -> RequestBuilder<Void> {
            let path = "/measurements"
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "variableName": variableName,
                "unit": unit,
                "startTime": startTime,
                "endTime": endTime,
                "groupingWidth": groupingWidth,
                "groupingTimezone": groupingTimezone
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: false)
        }
    
        /**
         
         Post a new set of measurements to the database
         
         - POST /measurements/v2
         - You can submit multiple measurements in a \"measurements\" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.  The request body should look something like [{\"measurements\":[{\"timestamp\":1406419860,\"value\":\"1\",\"note\":\"I am a note about back pain.\"},{\"timestamp\":1406519865,\"value\":\"3\",\"note\":\"I am another note about back pain.\"}],\"name\":\"Back Pain\",\"source\":\"QuantiModo\",\"category\":\"Symptoms\",\"combinationOperation\":\"MEAN\",\"unit\":\"/5\"}]
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@4ab0597a]
         
         :param: measurements (body) An array of measurements you want to insert.

         :returns: Promise<Response<Void>> 
         */
        func measurementsV2Post(#measurements: [Measurement]) -> RequestBuilder<Void> {
            let path = "/measurements/v2"
            let url = SwaggerClientAPI.basePath + path
            
            let parameters = measurements.encode() as? [String:AnyObject]

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "POST", URLString: url, parameters: parameters, isBody: true)
        }
    
        /**
         
         Get measurements range for this user
         
         - GET /measurementsRange
         - Get Unix time-stamp (epoch time) of the user's first and last measurements taken.
         - authMethods: [com.wordnik.swagger.codegen.CodegenSecurity@21adb369]
         
         :param: sources (query) Enter source name to limit to specific source (varchar)
         :param: user (query) If not specified, uses currently logged in user (bigint)

         :returns: Promise<Response<Void>> 
         */
        func measurementsRangeGet(#sources: String?, user: Int?) -> RequestBuilder<Void> {
            let path = "/measurementsRange"
            let url = SwaggerClientAPI.basePath + path
            
            let nillableParameters: [String:AnyObject?] = [
                "sources": sources,
                "user": user
            ]
            let parameters = APIHelper.rejectNil(nillableParameters)

            let requestBuilder: RequestBuilder<Void>.Type = SwaggerClientAPI.requestBuilderFactory.getBuilder()

            return requestBuilder(method: "GET", URLString: url, parameters: parameters, isBody: false)
        }
    
    }
}
